.kotak {
    margin-top: 20px;
    
}

.kotak1 {
    width: fit-content;
    padding: 10px;
}

.kotak2 {
    background-color: blue;

}

.p1 {
    text-align: right;
    color: white;
    margin-right: 5px;
    font-size: 45pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    align-items: center;
}

body {
    background-color: lightblue;
}

.tabel {
    padding: 0px;
    width: 500px;
    color: white;
    background-color: lightslategray;
}